
/* MIse en page */

h1, h4, p{
  font-family: 'Comic Sans MS', cursive;
  font-weight: lighter;
}

p{

}

.titre{
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    text-shadow: 0 1px 6px #555555;
    color: white;
}

.titre h2{
    margin-bottom: inherit;
    font-size: 2em;
}
.titre p{
    margin-top: inherit;
    font-size: 1.8em;
}

.header{
    position: relative;
}

.header img{
    max-width: 100%;
}



.page{
  display: flex;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 3px;
  background-color: #E8E6E5;
}

header{
}

aside{
  width: 35%;
  background-color: #5DA4D9;
  box-shadow: 1px 1px 5px grey;

}

main{
  background-color: #E8E6E5;
}

.ico{
  width: 30%;
  text-align: center;
}

.ico i{
  font-size: 36px;
  padding-top: 20px;
  color: #767270;
}

.bloc_main{
  display: flex;
  width: 97%;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}

.bloc_text{
  width: 90%;
}

.bloc_text p{
  width: 95%;
  font-size: 12px;
}

footer{
  width: 97%;
  margin-left: 15px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}

section{
  display: flex;
  height: 155px;
}

.ico_bas{
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-top: 20px;
  font-size: 36px;
  color: #5DA4D9;
}
